.section.cover
  .content
    .slider
      .item
        .title  Летняя школа &laquo;Альтернатива&raquo;
        | Это летняя многопрофильная школа (ЛМШ), которая проводится на базе детского оздоровительного лагеря в Тульской области каждое лето уже почти 30 лет
        .player.pi(data-component="video_player", data-option-file="http://lavideo2014.s3.amazonaws.com/smena360.mp4", data-option-hd-file="http://lavideo2014.s3.amazonaws.com/smena720.mp4", data-option-image="/images/video_preview.png", data-pi="player")