extend _partials/layout

block title
  title АЛЬТЕРНАТИВА: летняя многопрофильная школа (Тула) - ЛМШ, летняя школа, детский образовательный лагерь, внешкольное образование

block description
  meta(name="description", content="Летняя Школа АЛЬТЕРНАТИВА, проводится на базе детского оздоровительного лагеря каждый год!")

block content
  include _partials/pages/main
