doctype html
html(lang="ru")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    title Летняя школа АЛЬТЕРНАТИВА
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    <!--[if IE 8]>
    script(src="js/modernizr.js")
    <![endif]-->
    script(src='js/vendor.js')
    script(src='js/app.js')
    link(rel="stylesheet", href="css/app.css", media="all")