script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
script.
  window.jQuery || document.write(unescape('%3Cscript src="#{site.baseurl}js/jquery.js">%3C/script>'))
script(src='#{site.baseurl}js/vendor.js')
script(src='#{site.baseurl}js/app.js')

footer
  .content
    .microdata(itemscope, itemtype="http://schema.org/Organization")
      .name
        span(itemprop="name")  ЛМШ &laquo;Альтернатива&raquo; 
        span.copy &copy; 2007 - 2014
      .contacts(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
        span(itemprop="telephone") 
        =site.phone
        br
        span(itemprop="email") 
        =site.email