.header-top
  a(href="/")
    .logo.inline
  .description.inline
    p.name АЛЬТЕРНАТИВА
    p летняя
    p многопрофильная
    p школа
  .contacts.inline
    p.mail
      i.fa.fa-envelope
      | info@summer-school.ru
    p.phone
      | 8 (495) 300-33-33
  .social