.header-top
  a(href="/")
    .logo.inline
  .description.inline
    p.name АЛЬТЕРНАТИВА
    p летняя
    p многопрофильная
    p школа
  .contacts.inline(itemscope, itemtype="http://schema.org/PostalAddress")
    p.mail(itemprop="email")
      i.fa.fa-envelope
      = site.email
    p.phone(itemprop="telephone")
      i.fa.fa-phone
      = site.phone
  .social.inline
    each soc in social
      a.social-link(href="#{soc.url}",class="fa fa-#{soc.type}", target="_blank")   
